 {% extends 'header.html' %} {% load static %} {% static "images" as baseUrl %} {% block content %} {% block sepr_css %}
<link rel="stylesheet" href="{% static 'styles/acts.css' %}"> {% endblock %}
<main>
    <section class="featured">
        <h1>COMEDIAN</h1>
        <div class="movies">
            {% for a in com %}
            <div class="movie">
                <a href="{%url 'come_detail' comedian_id=a.comedian_id %}">
                    <img src="{{a.img.url}}">
                </a>
                <h2>{{a.comedian}} </h2>
            </div>
            {% endfor %}
        </div>
    </section>
</main>{%endblock%}