{% extends 'header.html' %} {% load static %} {% static "images" as baseUrl %} {% block content %} {% block sepr_css %}
<link rel="stylesheet" href="{% static 'styles/details.css' %}"> {% endblock %}
<main>
    <section class="movie-details">
        <h1>{{det.name}}</h1>
        <center>
            <div class="details-wrapper">`
                <div class="movie-poster">
                    <img src="{{det.img.url}}" alt="{{ det.name }} Poster">
                </div>
                <div class="movie-info">
                    <p><strong>Release Date:</strong>{{det.release_date}}</p>
                    <p><strong>Genres:</strong> {% for genre in genres %} {{ genre.genre }}{% if not forloop.last %}, {% endif %} {% endfor %}
                    </p>
                    <p><strong>Director: </strong> {{det.director.director}}
                    </p>
                    <p><strong>Actor: </strong> {{det.actor.actor}}
                    </p>
                    <p><strong>Rating: </strong>{{det.rate}}</p>
                    <p><strong>Tagline: </strong>{{det.tagline}}</p>
                    <p><strong>Description: </strong>{{det.description}}</p>
                    <a href="{{det.watch_trailer}}" target="_blank ">Watch Trailer</a>
                </div>
            </div>
        </center>


    </section>
    <section class="review-form">
        <h2>Submit Your Review</h2>
        <form method="post">
            {% csrf_token %}
            <div class="review-stars">
                <div class="star-rating">
                    <input type="radio" id="star5" name="rating" value="5" required>
                    <label for="star5" title="5 stars"></label>

                    <input type="radio" id="star4" name="rating" value="4">
                    <label for="star4" title="4 stars"></label>

                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3" title="3 stars"></label>

                    <input type="radio" id="star2" name="rating" value="2">
                    <label for="star2" title="2 stars"></label>

                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1" title="1 star"></label>
                </div>
            </div>
            <br>
            <label for="review_text"></label>
            <textarea id="review_text" name="review_text" placeholder="Your Review" rows="4" required></textarea>
            <br>
            <button type="submit">Submit Review</button>

        </form>
    </section>
    <div class="show">
        <a href="{%url 'show_review' id=det.id%}"> <button type="Show Review">Show Review</button>
        </a>
    </div>
</main>
{%endblock%}