{% extends 'header.html' %} {% load static %} {% static "images" as baseUrl %} {% block content %} {% block sepr_css %}
<link rel="stylesheet" href="{% static 'styles/emo_cap.css' %}"> {% endblock %}
<main>

    <option value="a to z"></option>

    <section class="featured">
        <h1>Movies Related to Your Emotion: {{emotion}}</h1>
        <div class="movies">
            {% if movies %} {% for tits in movies %}
            <div class="movie">
                <a href="{% url 'mov_detail' id=tits.id %}">
                    <img src="{{tits.img.url}}">
                </a>
                <h2>{{tits.name}} </h2>
                <p>{{tits.rate}}</p>
                <p class=" year ">{{tits.year}}</p>
            </div> {% endfor %} </div>
        {% else %}
        <p>No movies found for this emotion. Please try again later.</p>
        {% endif %}
    </section>

</main>
{%endblock%}