 {% extends 'header.html' %} {% load static %} {% static "images" as baseUrl %} {% block content %} {% block sepr_css %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}"> {% endblock %}
<section class="featured">
    <h1><a href="{% url 'index' %}">Feature Movies</a>/<a href="{% url 'old_mov' %}">Retro Movies</a>
    </h1>
    <form class="srt" method="GET" action="{% url 'index' %}">
        <select name="sort" onchange="this.form.submit()">
            <option value="">Select Option</option>
            <option value="year">Year</option>
            <option value="az">A to Z</option>
        </select>
    </form>
</section>
<div class="movies">
    {% for tits in tit %}
    <div class="movie">
        <a href="{% url 'mov_detail' id=tits.id %}">
            <img src="{{tits.img.url}}">
        </a>
        <h2>{{tits.name}} </h2>
        <p>{{tits.rate}}</p>
        <p class=" year ">{{tits.year}}</p>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/script.js' %} "></script>
{%endblock%}