# Django
*.py[cod]
*$py.class
__pycache__/
*.sqlite3
*.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Uploaded Media and Static Collection
media/
assets/
static_root/
captured_images/
helper_scripts/

# Editor/OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Any other local DB folders
db/

# Keep empty folders if needed by adding a .gitkeep, but ignore contents
