@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Playfair+Display:wght@700&display=swap');
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: #fff;
}

.sea {
    padding: 03px 10px;
    background: #008080;
    border: none;
    border-radius: 5px;
}

.sea:hover {
    background: #203a43;
    /* Slightly darker shade on hover */
}

.sea:active {
    background: #008080;
}

.tex {
    border-radius: 3px;
    border: none;
    padding: 03px 15px;
    ;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 20px;
    color: #fff;
}

header .logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #008080;
    font-family: 'Playfair Display', serif;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    position: relative;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #008080;
    transition: width 0.5s ease-in-out;
}

header nav ul li a:hover::after {
    width: 100%;
}

header nav ul li a:hover {
    color: #008080;
    transform: translateY(-2px);
}

header .search-bar {
    display: flex;
    gap: 5px;
}

header .search-bar input {
    padding: 5px;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    bottom: 40%;
}